@import './css/reset.css';
@import './component/time-item.css';
@import './component/timeline.css';

html, body, #root, .parent-container {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  font-family: Arial, 微軟正黑體;
  color: #333;
}
